/* Testimonial Carousel Swiper customizations */
.ori-testimonial-carousel-wrapper {
    position: relative;
}

.ori-testimonial-swiper {
    width: 100%;
}

.ori-testimonial-swiper .swiper-slide {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.ori-testimonial-swiper .swiper-slide-active {
    opacity: 1;
}